<table class="table" 
cellpadding="5" 
cellspacing="0" 
width="100%">

    <tr>
        <h2>Helpers:</h2>
    </tr>

    <tr>
        <th>Function</th><th>Example</th><th>Return</th>
    </tr>

    <tr>
        <h3>Factorialize</h3>
    </tr>

    <tr>
        <td>helpers.factorialize()</td>
        <td>num: 5</td>
        <td>{{ factorialize() }}</td>
    </tr>

    <tr>
        <h3>Flatten</h3>
    </tr>

    <tr>
        <td>helpers.flatten()</td>
        <td>array: {{this.arr_in_arr_str}}</td>
        <td>{{ flatten() }}</td>
    </tr>

    <tr>
        <h3>Round</h3>
    </tr>

    <tr>
        <td>helpers.round()</td>
        <td>num: 1.93456489, decimals: 6</td>
        <td>{{ roundSixDecimals() }}</td>
    </tr>
    <tr>
        <td>helpers.round()</td>
        <td>num: 1.005, decimals: 2</td>
        <td>{{ roundTwoDecimals() }}</td>
    </tr>

    <tr>
        <h3>Slice Builder</h3>
    </tr>

    <tr>
        <td>helpers.sliceBuilder()</td>
        <td>str: {{this.str}}, splitAt: 0, inject: {{this.inject}}</td>
        <td>{{ sliceBuilder() }}</td>
    </tr>

    <tr>
        <h3>Sqrt</h3>
    </tr>

    <tr>
        <td>helpers.sqrt()</td>
        <td>num: 5</td>
        <td>{{ sqrt() }}</td>
    </tr>

</table>
<hr>