<table class="table" 
cellpadding="5" 
cellspacing="0" 
width="100%">

    <tr>
        <h2>Geometry:</h2>
    </tr>

    <tr>
        <th>Function</th><th>Example</th><th>Return</th>
    </tr>

    <tr>
        <h3>Circle</h3>
    </tr>
    <tr>
        <td>circle.area()</td>
        <td>a: 2</td>
        <td>{{ circleArea() }}</td>
    </tr>
    <tr>
        <td>circle.diameter()</td>
        <td>d: 2</td>
        <td>{{ circleDiameter() }}</td>
    </tr>
    
    <tr>
        <h3>Cylinder</h3>
    </tr>
    <tr>
        <td>cylinder.diameter()</td>
        <td>h:2, v:6</td>
        <td>{{ cylinderDiameter() }}</td>
    </tr>
    <tr>
        <td>cylinder.surfaceArea()</td>
        <td>r:2, h:4</td>
        <td>{{ cylinderSurfaceArea() }}</td>
    </tr>
    <tr>
        <td>cylinder.volume()</td>
        <td>r:2, h:4</td>
        <td>{{ cylinderVolume() }}</td>
    </tr>

    <tr>
        <h3>Rectangle</h3>
    </tr>
    <tr>
        <td>rectangle.area()</td>
        <td>1st w/l:2, 2nd w/l:6</td>
        <td>{{ rectangleArea() }}</td>
    </tr>
    <tr>
        <td>rectangle.perimeter()</td>
        <td>1st w/l:2, 2nd w/l:5</td>
        <td>{{ rectanglePerimeter() }}</td>
    </tr>

    <tr>
        <h3>Sphere</h3>
    </tr>
    <tr>
        <td>sphere.surfaceArea()</td>
        <td>r:2</td>
        <td>{{ sphereSurfaceArea() }}</td>
    </tr>
    <tr>
        <td>sphere.volume()</td>
        <td>r:2</td>
        <td>{{ sphereVolume() }}</td>
    </tr>

    <tr>
        <h3>Square</h3>
    </tr>
    <tr>
        <td>rectangle.area()</td>
        <td>w/l:2</td>
        <td>{{ squareArea() }}</td>
    </tr>
    <tr>
        <td>rectangle.perimeter()</td>
        <td>w/l:2</td>
        <td>{{ squarePerimeter() }}</td>
    </tr>

    <tr>
        <h3>Triangle</h3>
    </tr>
    <tr>
        <td>triangle.area.asa()</td>
        <td>a1:41, s: 6,4, a2:85</td>
        <td>{{ triangleAreaASA() }}</td>
    </tr>
    <tr>
        <td>triangle.area.height()</td>
        <td>b:2, h:4</td>
        <td>{{ triangleAreaHeight() }}</td>
    </tr>
    <tr>
        <td>triangle.area.sas()</td>
        <td>s1:6.4, a:50, s2:5.6</td>
        <td>{{ triangleAreaSAS() }}</td>
    </tr>
    <tr>
        <td>triangle.area.sss()</td>
        <td>s1:3, s2:4, s3:5</td>
        <td>{{ triangleAreaSSS() }}</td>
    </tr>
    <tr>
        <td>triangle.perimeter()</td>
        <td>s1:2, s2:4, s3:5</td>
        <td>{{ trianglePerimeter() }}</td>
    </tr>

</table>
<hr>