<tr>
    <h2>Algebra (Arithmetic):</h2>
</tr>

<tr>
    <h3>LCM</h3>
</tr>

<tr>
    <td>algebra.arithmetic.lcm.pair()</td>
    <td>x: 25, y: 155</td>
    <td>{{ lcmpair() }}</td>
</tr>

<tr>
    <td>algebra.arithmetic.lcm.arr()</td>
    <td>
    [12, 46, 512, 2056]
    <br>
    [12,[2,[46,4]],3,512]
    </td>
    <td>
    {{ lcmarr(this.arr1) }}
    <br>
    {{ lcmarr(this.arr_in_arr) }}
    </td>
</tr>

<tr>
    <h3>GCD</h3>
</tr>

<tr>
    <td>algebra.arithmetic.gcd.pair()</td>
    <td>x: 80, y: 44</td>
    <td>{{ gcdpair() }}</td>
</tr>

<tr>
    <td>algebra.arithmetic.gcd.arr()</td>
    <td>
    [12, 46, 512, 2056]
    <br>
    [12,[2,[46,4]],3,512]
    </td>
    <td>
    {{ gcdarr(this.arr1) }}
    <br>
    {{ gcdarr(this.arr_in_arr) }}
    </td>
</tr>