<table class="table" 
cellpadding="5" 
cellspacing="0" 
width="100%">

    <tr>
        <h2>Conversion:</h2>
    </tr>

    <tr>
        <th>Function</th><th>Example</th><th>Return</th>
    </tr>

    <tr>
        <h3>Area</h3>
    </tr>

    <tr>
        <td>conversion.convert()</td>
        <td>from: sq inch, to: sq centimeter, quantity: 16</td>
        <td>{{ conversionArea() }}</td>
    </tr>

    <tr>
        <h3>Length</h3>
    </tr>

    <tr>
        <td>conversion.convert()</td>
        <td>example of short hand conversion types,
        <br>
        from: in, to: cm, quantity: 11</td>
        <td>{{ conversionLength() }}</td>
    </tr>

    <tr>
        <h3>Mass</h3>
    </tr>

    <tr>
        <td>conversion.convert()</td>
        <td>from: ounce, to: gram, quantity: 5</td>
        <td>{{ conversionMass() }}</td>
    </tr>

    <tr>
        <h3>Temp</h3>
    </tr>

    <tr>
        <td>conversion.convert()</td>
        <td>example of short hand conversion types,
            <br>
            from: c, to: f, quantity: 23</td>
        <td>{{ conversionTemp() }}</td>
    </tr>

    <tr>
        <h3>Volume</h3>
    </tr>

    <tr>
        <td>conversion.convert()</td>
        <td>from: teaspoon, to: milliliter, quantity: 3</td>
        <td>{{ conversionVolume() }}</td>
    </tr>

</table>
<hr>