<table class="table" 
cellpadding="5" 
cellspacing="0" 
width="100%">

    <tr>
        <h2>Discrete:</h2>
    </tr>

    <tr>
        <th>Function</th><th>Example</th><th>Return</th>
    </tr>

    <tr>
        <h3>GCD (Euclidean Algorithm)</h3>
    </tr>
    
    <tr>
        <td>discrete.gcd.pair()</td>
        <td>x: 80, y: 44</td>
        <td>{{ gcdpair() }}</td>
    </tr>
    
    <tr>
        <td>gcd.arr()</td>
        <td>
        [12, 46, 512, 2056]
        <br>
        [12,[2,[46,4]],3,512]
        </td>
        <td>
        {{ gcdarr(this.arr1) }}
        <br>
        {{ gcdarr(this.arr_in_arr) }}
        </td>
    </tr>

</table>
<hr>